Applications
Creative Cloud Files
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
My Games
OILT
Pictures
Sites
VirtualBox VMs
misc.txt
repositories
vagrant
.DS_Store
.Trash
.android
.bash_history
.bash_sessions
.bundle
.cache
.config
.cups
.dropbox
.eclipse
.gem
.gemrc
.git
.gnupg
.oracle_jre_usage
.org.eclipse.sequoyah
.p2
.puppetlabs
.ssh
.start_app_logs
.subversion
.tooling
.vagrant.d
.vagrant.d_old
.vcmanager
.vim
.viminfo
.vimrc
